In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_data = pd.read_csv('C://Users/Admin/Downloads/47417050-0-dataset/dataset/train.csv')

In [4]:
train_data.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [5]:
train_data.head(20)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70
5,0xbe4e,Single-family home,1185,3.0,3,Unfurnished,0.0,No,Once in a day - Morning,5.69,Well below average,Medium,91.0,4.49,82.94
6,0xe2a,Single-family home,1779,3.0,3,Semi_Furnished,0.0,No,Once in a day - Evening,7.43,NaN,Medium,100.0,2.90,74.88
7,0x2ea5,Duplex,1281,5.0,2,Semi_Furnished,3.0,No,All time,7.72,Well above average,Medium,143.0,0.96,28.54
8,0x7a83,Apartment,268,1.0,3,Semi_Furnished,1.0,No,All time,6.13,Well below average,NaN,94.0,4.17,88.11
9,0xb0fb,Apartment,159,2.0,2,Semi_Furnished,0.0,Yes,Once in a day - Morning,6.77,Well below average,Medium,90.0,4.48,80.65
10,0xaf2f,Apartment,521,1.0,2,Semi_Furnished,0.0,No,All time,4.14,Well below average,Medium,89.0,4.82,73.51
11,0x6ffb,Bungalow,2164,13.0,4,Semi_Furnished,1.0,No,Once in a day - Evening,6.09,Well below average,Medium,105.0,3.53,87.91
12,0x6aca,Single-family home,1620,3.0,4,Semi_Furnished,0.0,No,All time,6.08,Well below average,Medium,143.0,4.74,76.86
13,0x6d10,Single-family home,1359,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,6.96,Well below average,Medium,84.0,4.49,71.31
14,0xc4a,Apartment,416,3.0,1,Unfurnished,0.0,Yes,Once in a day - Evening,6.99,Well below average,Medium,117.0,4.14,72.35
15,0x5d35,Apartment,795,1.0,1,Fully Furnished,0.0,No,NOT MENTIONED,6.92,Well below average,Medium,169.0,4.07,79.82
16,0x363e,Apartment,508,2.0,1,Unfurnished,0.0,No,All time,6.41,Slightly below average,Medium,131.0,4.12,72.19
17,0xb079,Duplex,436,5.0,1,Fully Furnished,0.0,No,Once in a day - Morning,6.70,Well above average,Medium,102.0,2.59,83.68
18,0x8b21,Single-family home,1735,5.0,3,Unfurnished,0.0,Yes,Once in a day - Evening,6.47,Slightly above average,Medium,164.0,2.82,77.28
19,0x9e0d,Apartment,497,NaN,3,Fully Furnished,2.0,No,Once in two days,5.74,Slightly below average,Medium,103.0,1.96,73.46

y_train = train_data.iloc[:, -1]

In [6]:
y_train = train_data.iloc[:,-1]

In [7]:
y_train

0        71.98
1        71.20
2        71.39
3        31.46
4        93.70
5        82.94
6        74.88
7        28.54
8        88.11
9        80.65
10       73.51
11       87.91
12       76.86
13       71.31
14       72.35
15       79.82
16       72.19
17       83.68
18       77.28
19       73.46
20       89.95
21       84.58
22       81.38
23       85.51
24       75.63
25       64.38
26       29.97
27       78.07
28       80.07
29       22.32
         ...
39469    86.53
39470    73.14
39471    74.28
39472    75.17
39473    79.71
39474    80.55
39475    75.40
39476    77.83
39477    40.83
39478    69.38
39479    72.91
39480    75.28
39481    27.82
39482    77.15
39483    76.06
39484    63.83
39485    77.70
39486    57.54
39487    79.02
39488    84.22
39489    84.77
39490    59.71
39491    86.55
39492    78.75
39493    73.61
39494    73.43
39495    79.91
39496    81.44
39497    71.33
39498    83.25
Name: Habitability_score, Length: 39499, dtype: float64

In [8]:
y_train.isnull().any()

False

In [9]:
y_train.isnull().sum()

0

In [10]:
(y_train < 0).any()

False

In [11]:
X_train = train_data[['Property_Type', 'Property_Area', 'Number_of_Windows', 'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts', 'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate', 'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]

In [12]:
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [13]:
X_train.keys()

Index(['Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review'],
      dtype='object')

In [14]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows          True
Number_of_Doors           False
Furnishing                 True
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

from sklearn.preprocessing import imputer

In [15]:
from sklearn.preprocessing import Imputer

In [16]:
imputer_windows = Imputer(missing_values = 'NaN', strategy='most_frequent')

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [17]:
X_train['Number_of_Windows'] = imputer_windows.fit_transform(X_train[['Number_of_Windows']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [19]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                 True
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [20]:
X_train['Furnishing'].value_counts()

Semi_Furnished     20357
Unfurnished        10344
Fully Furnished     7756
Name: Furnishing, dtype: int64

In [21]:
from sklearn_pandas import CategoricalImputer

In [22]:
cimputer_furnishing = CategoricalImputer()

In [23]:
X_train['Furnishing'] = cimputer_furnishing.fit_transform(X_train['Furnishing'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
X_train['Furnishing'].value_counts()

Semi_Furnished     21399
Unfurnished        10344
Fully Furnished     7756
Name: Furnishing, dtype: int64

In [25]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [26]:
X_train['Frequency_of_Powercuts'].value_counts()

0.0    24471
1.0    10010
2.0     2441
3.0     1194
Name: Frequency_of_Powercuts, dtype: int64

In [27]:
cimputer_frequency = CategoricalImputer()

In [28]:
X_train['Frequency_of_Powercuts'] = cimputer_frequency.fit_transform(X_train['Frequency_of_Powercuts'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
X_train['Frequency_of_Powercuts'].value_counts()

0.0    25854
1.0    10010
2.0     2441
3.0     1194
Name: Frequency_of_Powercuts, dtype: int64

In [30]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [31]:
X_train['Crime_Rate'].value_counts()

Well below average        19472
Slightly below average    11580
Slightly above average     5303
Well above average         2357
Name: Crime_Rate, dtype: int64

In [32]:
cimputer_crime = CategoricalImputer()

In [33]:
X_train['Crime_Rate'] = cimputer_crime.fit_transform(X_train['Crime_Rate'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
X_train['Crime_Rate'].value_counts()

Well below average        20259
Slightly below average    11580
Slightly above average     5303
Well above average         2357
Name: Crime_Rate, dtype: int64

In [35]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [36]:
X_train['Dust_and_Noise'].value_counts()

Medium    32996
High       3212
Low        2072
Name: Dust_and_Noise, dtype: int64

In [37]:
cimputer_dust = CategoricalImputer()

In [38]:
X_train['Dust_and_Noise'] = cimputer_dust.fit_transform(X_train['Dust_and_Noise'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
X_train['Dust_and_Noise'].value_counts()

Medium    34215
High       3212
Low        2072
Name: Dust_and_Noise, dtype: int64

In [40]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise            False
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [41]:
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [42]:
y_train.isnull().any()

False

Done with the removing/filtering missing values

Label Encoder needs to be applied on

1) Property Type
2) Furnishing
3) Powerbackup
4) Water Supply
5) Crime Rate
6) Dust and Noise

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
le_property = LabelEncoder()

In [45]:
X_train['Property_Type'] = le_property.fit_transform(X_train['Property_Type'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,1,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,1,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,1,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,2,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [47]:
X_train['Property_Type'].value_counts()

1    14596
5    11477
4     5806
2     4238
3     2872
0      510
Name: Property_Type, dtype: int64

In [48]:
print("0: ",str(le_property.classes_[0]))
print("1: ",str(le_property.classes_[1]))
print("2: ",str(le_property.classes_[2]))
print("3: ",str(le_property.classes_[3]))
print("4: ",str(le_property.classes_[4]))
print("5: ",str(le_property.classes_[5]))

0:  #R%$G&867
1:  Apartment
2:  Bungalow
3:  Container Home
4:  Duplex
5:  Single-family home

In [49]:
X_train['Furnishing'].value_counts()

Semi_Furnished     21399
Unfurnished        10344
Fully Furnished     7756
Name: Furnishing, dtype: int64

In [50]:
le_furnish = LabelEncoder()

In [51]:
X_train['Furnishing'] = le_furnish.fit_transform(X_train['Furnishing'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
print("0: ",str(le_furnish.classes_[0]))
print("1: ",str(le_furnish.classes_[1]))
print("2: ",str(le_furnish.classes_[2]))

0:  Fully Furnished
1:  Semi_Furnished
2:  Unfurnished

In [53]:
X_train['Power_Backup'].value_counts()

No               29714
Yes               8957
NOT MENTIONED      828
Name: Power_Backup, dtype: int64

In [54]:
le_power = LabelEncoder()

In [55]:
X_train['Power_Backup'] = le_power.fit_transform(X_train['Power_Backup'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
print("0: ",str(le_power.classes_[0]))
print("1: ",str(le_power.classes_[1]))
print("2: ",str(le_power.classes_[2]))

0:  NOT MENTIONED
1:  No
2:  Yes

In [57]:
X_train['Water_Supply'].value_counts()

All time                   19511
Once in a day - Morning     9897
Once in a day - Evening     7815
Once in two days            1931
NOT MENTIONED                345
Name: Water_Supply, dtype: int64

In [58]:
le_water = LabelEncoder()

In [59]:
X_train['Water_Supply'] = le_water.fit_transform(X_train['Water_Supply'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
print("0: ",str(le_water.classes_[0]))
print("1: ",str(le_water.classes_[1]))
print("2: ",str(le_water.classes_[2]))
print("3: ",str(le_water.classes_[3]))
print("4: ",str(le_water.classes_[4]))

0:  All time
1:  NOT MENTIONED
2:  Once in a day - Evening
3:  Once in a day - Morning
4:  Once in two days

In [61]:
X_train['Crime_Rate'].value_counts()

Well below average        20259
Slightly below average    11580
Slightly above average     5303
Well above average         2357
Name: Crime_Rate, dtype: int64

In [62]:
le_crime = LabelEncoder()

In [63]:
X_train['Crime_Rate'] = le_crime.fit_transform(X_train['Crime_Rate'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [64]:
print("0: ",str(le_crime.classes_[0]))
print("1: ",str(le_crime.classes_[1]))
print("2: ",str(le_crime.classes_[2]))
print("3: ",str(le_crime.classes_[3]))

0:  Slightly above average
1:  Slightly below average
2:  Well above average
3:  Well below average

In [65]:
X_train['Dust_and_Noise'].value_counts()

Medium    34215
High       3212
Low        2072
Name: Dust_and_Noise, dtype: int64

In [66]:
le_dust = LabelEncoder()

In [67]:
X_train['Dust_and_Noise'] = le_dust.fit_transform(X_train['Dust_and_Noise'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
print("0: ",str(le_dust.classes_[0]))
print("1: ",str(le_dust.classes_[1]))
print("2: ",str(le_dust.classes_[2]))

0:  High
1:  Low
2:  Medium

In [69]:
X_train.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,106,4.0,1,1,0.0,1,3,5.89,1,2,90.0,3.86
1,1,733,2.0,2,2,1.0,1,2,4.37,3,2,96.0,3.55
2,1,737,4.0,2,0,0.0,1,3,7.45,1,2,121.0,3.81
3,1,900,3.0,2,2,2.0,2,3,6.16,2,2,100.0,1.34
4,2,2238,14.0,6,0,0.0,1,0,5.46,3,2,116.0,4.77

In [70]:
X_train.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise            False
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [71]:
X_train.isnull().sum()

Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
dtype: int64

In [72]:
X_train

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,106,4.0,1,1,0.0,1,3,5.89,1,2,90.0,3.86
1,1,733,2.0,2,2,1.0,1,2,4.37,3,2,96.0,3.55
2,1,737,4.0,2,0,0.0,1,3,7.45,1,2,121.0,3.81
3,1,900,3.0,2,2,2.0,2,3,6.16,2,2,100.0,1.34
4,2,2238,14.0,6,0,0.0,1,0,5.46,3,2,116.0,4.77
5,5,1185,3.0,3,2,0.0,1,3,5.69,3,2,91.0,4.49
6,5,1779,3.0,3,1,0.0,1,2,7.43,3,2,100.0,2.90
7,4,1281,5.0,2,1,3.0,1,0,7.72,2,2,143.0,0.96
8,1,268,1.0,3,1,1.0,1,0,6.13,3,2,94.0,4.17
9,1,159,2.0,2,1,0.0,2,3,6.77,3,2,90.0,4.48
10,1,521,1.0,2,1,0.0,1,0,4.14,3,2,89.0,4.82
11,2,2164,13.0,4,1,1.0,1,2,6.09,3,2,105.0,3.53
12,5,1620,3.0,4,1,0.0,1,0,6.08,3,2,143.0,4.74
13,5,1359,4.0,1,1,0.0,1,3,6.96,3,2,84.0,4.49
14,1,416,3.0,1,2,0.0,2,2,6.99,3,2,117.0,4.14
15,1,795,1.0,1,0,0.0,1,1,6.92,3,2,169.0,4.07
16,1,508,2.0,1,2,0.0,1,0,6.41,1,2,131.0,4.12
17,4,436,5.0,1,0,0.0,1,3,6.70,2,2,102.0,2.59
18,5,1735,5.0,3,2,0.0,2,2,6.47,0,2,164.0,2.82
19,1,497,4.0,3,0,2.0,1,4,5.74,1,2,103.0,1.96
20,5,1553,2.0,2,1,0.0,1,0,4.33,3,2,83.0,4.19
21,1,781,4.0,2,0,0.0,1,0,6.51,3,2,101.0,4.79
22,4,941,5.0,3,2,0.0,1,3,5.19,3,2,100.0,4.48
23,1,441,2.0,1,0,0.0,1,0,6.74,3,2,112.0,4.77
24,2,4161,6.0,3,1,0.0,0,0,7.83,3,2,156.0,4.71
25,5,1150,2.0,2,1,0.0,1,4,7.01,1,0,97.0,3.16
26,1,770,1.0,2,2,1.0,1,0,4.22,0,2,103.0,2.91
27,0,990,7.0,3,1,0.0,1,0,3.60,3,1,27.0,4.96
28,2,1809,9.0,5,2,0.0,1,0,8.31,3,0,133.0,4.67
29,2,2008,4.0,5,2,2.0,1,0,8.42,0,0,190.0,2.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39469,5,1634,4.0,1,1,1.0,2,0,5.09,0,2,118.0,2.89
39470,4,760,4.0,1,0,1.0,1,2,6.92,3,2,112.0,3.51
39471,1,691,4.0,1,1,1.0,2,3,4.27,1,2,92.0,3.24
39472,1,981,3.0,2,1,1.0,2,3,5.57,1,2,108.0,3.21
39473,2,2880,15.0,2,2,0.0,1,3,5.21,1,2,85.0,3.87
39474,5,1651,3.0,4,1,0.0,0,2,6.72,3,2,158.0,4.09
39475,1,204,2.0,3,1,0.0,1,0,5.15,1,2,96.0,4.17
39476,1,490,2.0,2,0,0.0,1,2,7.22,3,2,132.0,4.11
39477,5,1793,2.0,4,2,0.0,1,2,6.11,0,2,160.0,2.83
39478,3,409,2.0,2,1,0.0,1,0,8.17,3,2,169.0,4.69
39479,4,539,4.0,3,1,0.0,1,0,7.37,3,2,106.0,4.77
39480,1,943,2.0,3,1,0.0,1,3,6.18,3,2,154.0,4.41
39481,1,111,3.0,3,2,1.0,1,2,4.99,0,2,93.0,2.30
39482,1,583,4.0,2,0,0.0,1,3,8.04,3,0,144.0,4.35
39483,1,704,1.0,3,1,0.0,2,2,7.11,1,2,94.0,3.54
39484,1,367,1.0,3,2,0.0,1,3,5.54,1,2,89.0,3.87
39485,3,428,0.0,1,2,0.0,1,3,6.28,3,2,133.0,4.43
39486,1,226,4.0,3,1,3.0,1,0,5.44,1,2,103.0,2.28
39487,5,1798,2.0,2,1,1.0,1,0,7.20,3,2,98.0,4.16
39488,2,2975,7.0,2,1,0.0,2,0,4.91,1,2,118.0,4.15
39489,1,182,1.0,3,1,0.0,1,2,6.77,3,2,160.0,4.08
39490,4,928,5.0,3,2,0.0,1,3,8.30,3,0,196.0,4.28
39491,2,4014,12.0,6,1,0.0,2,0,7.50,3,2,80.0,4.81
39492,2,3317,10.0,4,0,2.0,1,0,4.05,0,2,101.0,2.29
39493,1,276,1.0,3,1,0.0,1,1,4.47,3,2,81.0,4.20
39494,5,1120,3.0,2,1,0.0,1,0,5.55,0,2,80.0,3.56
39495,1,445,1.0,3,0,1.0,1,0,5.70,0,2,86.0,2.93
39496,2,3780,6.0,6,2,0.0,2,4,6.84,3,2,137.0,3.80
39497,5,1266,3.0,1,1,0.0,1,3,4.60,0,2,88.0,3.25
39498,5,1229,2.0,4,0,0.0,1,0,8.29,3,0,132.0,4.67

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
model_linear = LinearRegression()

In [75]:
model_linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [76]:
model_linear.score(X_train, y_train) * 100

56.5084280488225

Need to pre-process the testing dataset, predict the testing data

In [77]:
test_data = pd.read_csv('C://Users/Admin/Downloads/47417050-0-dataset/dataset/test.csv')

In [78]:
test_data.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [79]:
X_test = test_data[['Property_Type', 'Property_Area', 'Number_of_Windows', 'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts', 'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate', 'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review']]

In [80]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [81]:
X_test.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows          True
Number_of_Doors           False
Furnishing                 True
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [82]:
test_imputer_windows = Imputer(missing_values='NaN', strategy='most_frequent')

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [84]:
X_test['Number_of_Windows'] = test_imputer_windows.fit_transform(X_test[['Number_of_Windows']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [85]:
X_test.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                 True
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [86]:
test_cimputer_furnish = CategoricalImputer()

In [89]:
X_test['Furnishing'].value_counts()

Semi_Furnished     5675
Unfurnished        2659
Fully Furnished    2166
Name: Furnishing, dtype: int64

In [88]:
X_test['Furnishing'] = test_cimputer_furnish.fit_transform(X_test['Furnishing'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
X_test.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [94]:
X_test['Frequency_of_Powercuts'].value_counts()

0.0    6861
1.0    2681
2.0     646
3.0     312
Name: Frequency_of_Powercuts, dtype: int64

In [92]:
test_cimputer_powercut = CategoricalImputer()

In [93]:
X_test['Frequency_of_Powercuts'] = test_cimputer_powercut.fit_transform(X_test['Frequency_of_Powercuts'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
X_test.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [100]:
X_test['Crime_Rate'].value_counts()

Well below average        5401
Slightly below average    3032
Slightly above average    1421
Well above average         646
Name: Crime_Rate, dtype: int64

In [98]:
test_cimputer_crime = CategoricalImputer()

In [99]:
X_test['Crime_Rate'] = test_cimputer_crime.fit_transform(X_test['Crime_Rate'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
X_test['Dust_and_Noise'].value_counts()

Medium    8826
High       802
Low        542
Name: Dust_and_Noise, dtype: int64

In [104]:
test_cimputer_dust = CategoricalImputer()

In [105]:
X_test['Dust_and_Noise'] = test_cimputer_dust.fit_transform(X_test['Dust_and_Noise'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
X_test.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise            False
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [107]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [108]:
test_le_property_type = LabelEncoder()

In [109]:
X_test['Property_Type'] = test_le_property_type.fit_transform(X_test['Property_Type'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [110]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,1,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,3,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,1,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,2,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [111]:
test_le_furnish = LabelEncoder()

In [112]:
X_test['Furnishing'] = test_le_furnish.fit_transform(X_test['Furnishing'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [113]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,2,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,1,586,4.0,1,1,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,3,305,1.0,2,1,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,1,258,2.0,1,1,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,2,3031,12.0,4,0,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [114]:
test_le_power = LabelEncoder()

In [115]:
X_test['Power_Backup'] = test_le_power.fit_transform(X_test['Power_Backup'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [116]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,2,0.0,1,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,1,586,4.0,1,1,0.0,1,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,3,305,1.0,2,1,1.0,1,All time,5.39,Slightly above average,Medium,90.0,2.92
3,1,258,2.0,1,1,1.0,1,All time,7.53,Slightly below average,Medium,158.0,3.45
4,2,3031,12.0,4,0,0.0,1,All time,8.79,Well above average,High,186.0,2.72

In [117]:
test_le_water = LabelEncoder()

In [118]:
X_test['Water_Supply'] = test_le_water.fit_transform(X_test['Water_Supply'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [119]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,2,0.0,1,3,7.28,Well above average,Medium,152.0,2.52
1,1,586,4.0,1,1,0.0,1,2,7.63,Well below average,Medium,92.0,4.16
2,3,305,1.0,2,1,1.0,1,0,5.39,Slightly above average,Medium,90.0,2.92
3,1,258,2.0,1,1,1.0,1,0,7.53,Slightly below average,Medium,158.0,3.45
4,2,3031,12.0,4,0,0.0,1,0,8.79,Well above average,High,186.0,2.72

In [120]:
test_le_crime = LabelEncoder()

In [121]:
X_test['Crime_Rate'] = test_le_crime.fit_transform(X_test['Crime_Rate'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [122]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,2,0.0,1,3,7.28,2,Medium,152.0,2.52
1,1,586,4.0,1,1,0.0,1,2,7.63,3,Medium,92.0,4.16
2,3,305,1.0,2,1,1.0,1,0,5.39,0,Medium,90.0,2.92
3,1,258,2.0,1,1,1.0,1,0,7.53,1,Medium,158.0,3.45
4,2,3031,12.0,4,0,0.0,1,0,8.79,2,High,186.0,2.72

In [123]:
test_le_dust = LabelEncoder()

In [124]:
X_test['Dust_and_Noise'] = test_le_dust.fit_transform(X_test['Dust_and_Noise'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [125]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,2,0.0,1,3,7.28,2,2,152.0,2.52
1,1,586,4.0,1,1,0.0,1,2,7.63,3,2,92.0,4.16
2,3,305,1.0,2,1,1.0,1,0,5.39,0,2,90.0,2.92
3,1,258,2.0,1,1,1.0,1,0,7.53,1,2,158.0,3.45
4,2,3031,12.0,4,0,0.0,1,0,8.79,2,0,186.0,2.72

In [126]:
X_test.head()

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,1,293,3.0,1,2,0.0,1,3,7.28,2,2,152.0,2.52
1,1,586,4.0,1,1,0.0,1,2,7.63,3,2,92.0,4.16
2,3,305,1.0,2,1,1.0,1,0,5.39,0,2,90.0,2.92
3,1,258,2.0,1,1,1.0,1,0,7.53,1,2,158.0,3.45
4,2,3031,12.0,4,0,0.0,1,0,8.79,2,0,186.0,2.72

In [128]:
X_test.isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows         False
Number_of_Doors           False
Furnishing                False
Frequency_of_Powercuts    False
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                False
Dust_and_Noise            False
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [129]:
X_test.isnull().sum()

Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
dtype: int64

In [131]:
prediction = model_linear.predict(X_test)

In [132]:
prediction

array([45.74828211, 73.56606519, 64.85663085, ..., 84.38989699,
       70.1186637 , 75.2041105 ])

In [134]:
result = pd.DataFrame([test_data['Property_ID'], prediction], index=['Property_ID', 'Habitability_score']).T
result.to_csv('C://Users/Admin/Documents/get_a_room_linear_model.csv', index=False)
result.head()

  Property_ID Habitability_score
0      0x6e93            45.7483
1      0x8787            73.5661
2      0x6c17            64.8566
3      0x9dbd            68.3682
4      0xbfde            67.4941

In [135]:
from sklearn.ensemble import RandomForestRegressor

In [159]:
rfr = RandomForestRegressor(n_estimators=250)

In [160]:
rfr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=250, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [161]:
prediction_rfr = rfr.predict(X_test)

In [162]:
rfr.score(X_train, y_train) * 100

97.59642388556536

In [163]:
result_rfr = pd.DataFrame([test_data['Property_ID'], prediction_rfr], index=['Property_ID', 'Habitability_score']).T
result_rfr.to_csv('C://Users/Admin/Documents/get_a_room_rfr_250.csv', index=False)
result_rfr.head()

  Property_ID Habitability_score
0      0x6e93            30.6416
1      0x8787             80.717
2      0x6c17            67.0012
3      0x9dbd            74.2162
4      0xbfde            75.4324